{
  "printWidth": 80,
  "parser": "flow",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "insertPragma": false,
  "requirePragma": false
}
